@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
   <title> Free Hands App </title>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
    <link rel="shortcut icon" href="~/Content/HTML/img/logo.png" type="image/x-icon">
    <link rel="icon" href="~/Content/HTML/img/logo.png" type="image/x-icon">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Content/HTML/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/HTML/libs/ionicons/css/ionicons.min.css">

    <link rel="stylesheet" href="~/Content/HTML/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/HTML/css/owl.theme.css">

    <link rel="stylesheet" href="~/Content/HTML/css/nivo-lightbox/nivo-lightbox.css">
    <link rel="stylesheet" href="~/Content/HTML/css/nivo-lightbox/nivo-lightbox-theme.css">
    <link rel="stylesheet" href="~/Content/HTML/css/animate.css">
    <link rel="stylesheet" href="~/Content/HTML/css/style.css">
    <link rel="stylesheet" href="~/Content/HTML/css/colors/gray.css">
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Roboto+Condensed:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
    <!-- Modernizr to provide HTML5 support for IE. -->
    <script src="~/Content/HTML/js/modernizr.custom.js"></script>


</head>
<body id="home">
    <!-- ****************************** Preloader ************************** -->
    <div id="preloader"></div>

    <!-- ****************************** Sidebar ************************** -->
    <nav id="sidebar-wrapper">
        <a id="menu-close" href="#" class="close-btn toggle">CLOSE <i class="ion-log-in"></i></a>
        <ul class="sidebar-nav">
            <li><a href="#home">الرئيسية</a></li>
            <li><a href="#video">فديو تقديمي</a></li>
            <li><a href="#bigfeatures">المميزات</a></li>
            <li><a href="#features"> الجودة</a></li>
            <li><a href="#features-left-image">صور عامة</a></li>
            <li><a href="#gallery">من داخل التطبيق</a></li>
            <li><a href="#subscribe">اشتراك</a></li>
            <li><a href="#contact"> تواصل معنا</a></li>
        </ul>
    </nav>

    <!-- ****************************** Header ************************** -->
    <header class="sticky" id="header">
        <div class="container">
            <div class="row" id="logo_menu">
                <div class="col-xs-6">
                    <a class="logo" href="#">
                        <img src="~/Content/HTML/img/logo.png" />
                    </a>
                </div>
                <div class="col-xs-6"><a id="menu-toggle" href="#" class="toggle" role="button" title="Navigation" data-toggle="tooltip" data-placement="left"><i class="ion-navicon"></i></a></div>
            </div>
        </div>
    </header>

    <!-- ****************************** Banner ************************** -->
    <section id="banner">
        <div class="container">
            <a class="slidedown wow animated zoomIn" data-wow-delay="2s" href="#video"><i class="ion-ios-download-outline"></i></a>
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="headings">
                        <h1 class="wow animated fadeInDown"> كل اللي تبغاه مع فري هاندز هتلقاه </h1>
                        <p class="wow animated fadeInLeft">الاسرة المنتجة <strong> هي اليد المبدعة</strong> التي تقدم اليك كل ما تشتهيه من اطيب والذ المأكولات العربية السعودية الاصيلة مصنوعة  بأيدٍ ابدعت لتجعلك تعيش الأجواء العائليه وكأنك فى المنزل وتستمتع بأطيب المأكولات الطازجة بضغطة زر واحدة free hand  اطلب ونحن نصلك اينما كنت.</p>

                        <a href="#" class="btn btn-store wow animated bounceInUp">
                            <i class="ion-social-android"></i>
                            <span>تحميل بواسطة </span><br />
                            ماركت جوجل
                        </a>
                        <a href="#" class="btn btn-store wow animated bounceInUp">
                            <i class="ion-social-apple"></i>
                            <span>تحميل بواسطة </span><br />
                            ماركت ابل
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ****************************** Video section ************************** -->
    <section id="video" class="block">
        <div class="container">

            <div class="title-box">
                <h1 class="block-title wow animated zoomIn">
                    <span class="bb-top-left"></span>
                    <span class="bb-bottom-left"></span>
                    فديو تقديمي
                    <span class="bb-top-right"></span>
                    <span class="bb-bottom-right"></span>
                </h1>
            </div>
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8 wow animated rotateInUpRight">
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item async-iframe" data-src="https://www.youtube.com/embed/cjie07DxVjk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen width="560" height="315" ></iframe>
                       
                    </div>
                    <p class="text-center italic">
                        <strong>استخدم برنامج الاسر المنتجة كي تحصل على جميع الطعام المنزلي بافضل جودة.</strong>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- ****************************** Big Features section ************************** -->
    <section id="bigfeatures" class="img-block-3col block">
        <div class="container">
            

            <div class="row">
                <div class="col-sm-4">
                    
                </div>
                <div class="col-sm-4 col-sm-push-4">
                    
                </div>
                <div class="col-sm-4 col-sm-pull-4 text-center">
                    <div class="animation-box wow bounceIn animated">
                        <img class="highlight-left wow animated" src="~/Content/HTML/img/spark.png" height="192" width="48" alt="">
                        <img class="highlight-right wow animated" src="~/Content/HTML/img/spark.png" height="192" width="48" alt="">
                        <img class="screen" src="~/Content/HTML/img/features_screen12.png" alt="" height="581" width="300">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ****************************** Specialty section ************************** -->
    <section id="features" class="block">
        <div class="container">
            <div class="title-box">
                <h1 class="block-title wow animated zoomIn">
                    <span class="bb-top-left"></span>
                    <span class="bb-bottom-left"></span>
                    الجودة
                    <span class="bb-top-right"></span>
                    <span class="bb-bottom-right"></span>
                </h1>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="feature-box wow animated flipInX animated">
                        <i class="ion-ios-fastforward-outline"></i>
                        <h2>سهولة الاستخدام  </h2>
                        <p>يتيح لك التطبيق الوصول السريع بمقدم الخدمة من خلال ايقونات بسيطة بمجرد ضغطة زر.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="feature-box wow animated flipInX animated">
                        <i class="ion-android-unlock"></i>
                        <h2>ضمان الجودة </h2>
                        <p>فنحن نضمن لك افضل الخدمات من خلال تقديم وجبات صحية مميزة تعيش من خلالها الجو العائلي.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="feature-box wow animated flipInX animated">
                        <i class="ion-nuclear"></i>
                        <h2>سرعة التوصيل </h2>
                        <p>سرعة التوصيل من خلال  استخدام افضل تكنولوجيا المعلومات و استخدام الوسائل الحديثة يتيح البرنامج الوصول اليك في اسرع وقت ممكن.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="feature-box wow animated flipInX animated">
                        <i class="ion-android-checkbox"></i>
                        <h2>سهولة التواصل مع الشركة </h2>
                        <p>سهولة التواصل مع الشركة يتيح لك التطبيق سهولة التواصل وطلب اشهى ما تتمناه من اشهة المأكولات السعودية من خلال اقوى فريق من خدمة العملاء على مدار ٢٤ ساعة.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="feature-box wow animated flipInX animated">
                        <i class="ion-android-star-outline"></i>
                        <h2>وضع التقييمات </h2>
                        <p>وصع التقييمات ننفرد بأننا  التطبيق الاول عربيآ فى الوقوغ علة تقييمات العملاء للإ ستفادة منها  فى الارتقاء بمستوى الخدمة.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="feature-box wow animated flipInX animated">
                        <i class="ion-android-hand"></i>
                        <h2>التعاون مع افضل الاسر</h2>
                        <p>التعاون مع افضل الاسر المنتجة يقدم التطبيق فرص لاختيار اشهى المآكولات العربية المنزلية من خلال التعاون مع افضل الآسر المنتجة للآكلات حتى يتثنى للعملاء الحصول على خدمات افضل.</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>

    <!-- ****************************** Gallery section ************************** -->
    <section id="gallery" class="block">
        <div class="container">
            <div class="title-box">
                <h1 class="block-title wow animated zoomIn">
                    <span class="bb-top-left"></span>
                    <span class="bb-bottom-left"></span>
                    من داخل التطبيق
                    <span class="bb-top-right"></span>
                    <span class="bb-bottom-right"></span>
                </h1>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="screenshots" class="owl-carousel owl-theme">
                        <a href="~/Content/HTML/img/screenshots/9.jpg" class="item" data-lightbox-gallery="screenshots">
                            <img src="~/Content/HTML/img/screenshots/9.jpg" class="img_res wow animated zoomIn" alt="">
                        </a>
                        <a href="~/Content/HTML/img/screenshots/2.jpg" class="item" data-lightbox-gallery="screenshots">
                            <img src="~/Content/HTML/img/screenshots/2.jpg" class="img_res wow animated zoomIn" alt="">
                        </a>
                        <a href="~/Content/HTML/img/screenshots/3.png" class="item" data-lightbox-gallery="screenshots">
                            <img src="~/Content/HTML/img/screenshots/3.png" class="img_res wow animated zoomIn" alt="">
                        </a>
                        <a href="~/Content/HTML/img/screenshots/4.jpg" class="item" data-lightbox-gallery="screenshots">
                            <img src="~/Content/HTML/img/screenshots/4.jpg" class="img_res wow animated zoomIn" alt="">
                        </a>
                        <a href="~/Content/HTML/img/screenshots/5.jpg" class="item" data-lightbox-gallery="screenshots">
                            <img src="~/Content/HTML/img/screenshots/5.jpg" class="img_res wow animated zoomIn" alt="">
                        </a>
                        <a href="~/Content/HTML/img/screenshots/6.jpg" class="item" data-lightbox-gallery="screenshots">
                            <img src="~/Content/HTML/img/screenshots/6.jpg" class="img_res wow animated zoomIn" alt="">
                        </a>
                        <a href="~/Content/HTML/img/screenshots/7.jpg" class="item" data-lightbox-gallery="screenshots">
                            <img src="~/Content/HTML/img/screenshots/7.jpg" class="img_res wow animated zoomIn" alt="">
                        </a>
                        <a href="~/Content/HTML/img/screenshots/8.jpg" class="item" data-lightbox-gallery="screenshots">
                            <img src="~/Content/HTML/img/screenshots/8.jpg" class="img_res wow animated zoomIn" alt="">
                        </a>
                    </div>
                    <div class="customNavigation">
                        <a class="btn prev gallery-nav wow animated bounceInLeft"><i class="ion-ios-arrow-left"></i></a>
                        <a class="btn next gallery-nav wow animated bounceInRight"><i class="ion-ios-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="subscribe" class="block">
        <div class="banner-overlay" style="background: rgba(255, 255, 255, 0.8)"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <p class="susbcribe-text">
                        <strong>اشترك في قائمة البريد الإلكتروني لدينا للحصول على آخر التحديثات حول تطبيقنا المدهش</strong>
                        <br />
                        اشترك في قائمة البريد الإلكتروني لدينا للحصول على آخر التحديثات حول تطبيقنا المدهشاشترك في قائمة البريد الإلكتروني لدينا للحصول على آخر التحديثات حول تطبيقنا المدهش
                    </p>
                </div>
            </div>
        </div>
        <div class="container subscribe-wrap" id="sub">
            <div class="row">
                <div class="col-sm-12 wow animated bounceInUp">
                    <form onsubmit="Subscribe();" action="#" role="form" class="mailchimp">

                        <div class="input-group">
                            <span class="input-group-btn" id="btn">
                                <button class="btn btn-custom" type="submit" id="subscribe-button">اشترك</button>
                            </span>
                            <input type="email" required name="emailsub" id="subscriber-email" class="form-control" placeholder="بريدك الالكتروني">

                        </div><!-- /input-group -->
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- ****************************** Contact section ************************** -->
    <section id="contact" class="block">
        <div class="container">
            <div class="title-box">
                <h1 class="block-title wow animated zoomIn">
                    <span class="bb-top-left"></span>
                    <span class="bb-bottom-left"></span>
                    تواصل معنا
                    <span class="bb-top-right"></span>
                    <span class="bb-bottom-right"></span>
                </h1>
            </div>
            <div class="row">
                <div class="col-sm-4 address wow fadeInLeft animated">
                    <ul class="address-list">
                        <li><i class="ion-android-call"></i> <span>0506121581 || 0542811144 || 0531071434</span></li>
                        <li><i class="ion-email"></i> <span>info@freehandesapp.com</span></li>
                        <li><i class="ion-earth"></i> <span>www.freehandesapp.com</span></li>
                    </ul>
                </div><!-- address -->
                <div class="col-sm-8 mailbox wow fadeInRight animated" id="con">
                    <form name="sentMessage" action="#" onsubmit="Contact(); return false" id="contactForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="الاسم" id="Name" required>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="البريد الالكتروني" id="Email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="الموضوع" id="Subject" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="رسالتك" id="Message" required data-validation-required-message="Please enter a message." style="width:361px; height:257px;"></textarea>
                                    <p class="help-block text-danger"></p>
                                    <div id="btn1">
                                    
                                        <button type="submit" class="polo-btn contact-submit"><i class="ion-paper-airplane"></i></button>
                               </div>
                               </div>
                            </div>
                        </div>
                    </form>
                </div><!--/send mail-->
            </div><!--/row-->
        </div>
        <div class="clearfix"></div>
    </section>

    <!-- ****************************** Footer ************************** -->
    <section id="footer" class="block">
        <div class="container text-center">
            <div class="footer-logo">
                <h1>الاسر المنتجة</h1>
            </div>
            <ul class="social-icons">
                <li class="wow animated fadeInLeft facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
                <li class="wow animated fadeInRight twitter"><a href="#"><i class="ion-social-twitter"></i></a>
                <li class="wow animated fadeInLeft linkedin"><a href="#"><i class="ion-social-instagram"></i></a></li>
                <li class="wow animated fadeInRight googleplus"><a href="#"><i class="ion-social-googleplus-outline"></i></a></li>
            </ul>
            <div class="copyright">
                <div class="credits">
                    جميع الحقوق محفوظة لدى <a href="" target="_blank">رؤيا للتطور</a>
                </div>
                <div dir="ltr">©2018 Rooya Dev, All Rights Reserved</div>
            </div>
        </div><!-- container -->
    </section>

    <!-- ****************************** Back to top ************************** -->
    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>

    <!-- All the scripts -->
    <script src="~/Content/HTML//jquery.min.js"></script>
    <script src="~/Content/HTML/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/HTML/js/wow.min.js"></script>
    <script src="~/Content/HTML/js/owl.carousel.js"></script>
    <script src="~/Content/HTML/js/nivo-lightbox.min.js"></script>
    <script src="~/Content/HTML/js/smoothscroll.js"></script>
    <script src="~/Content/HTML/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/HTML/js/script.js"></script>
    <script>


        function Subscribe() {
            $("#btn").html("انتظر .....");
            $.post("@Url.Action("Subscribe","Home")", {

                Email: $("#subscriber-email").val()

            },
        function (data) {


            $("#sub").html('<h3>' + data + '</h3>');
        })
        }


    </script>
    <script>


        function Contact() {
            $("#btn1").html("انتظر .....");
                           $.post("@Url.Action("Contact", "Home")", {

                               Name: $("#Name").val(),
                               Email: $("#Email").val(),
                               Subject: $("#Subject").val(),
                               Message: $("#Message").val()

                       },
                       function (data) {
                           $("#con").html('<h3>'+data+'</h3>');
                           })
                       }


    </script>
</body>
</html>
